{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>
    function agregarautentificacion(form) {
        event.preventDefault();
        Swal.fire({
            title: '¿Seguro de confirmar tu cuenta?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: "No",
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
        }).then((result) => {
            if (result.value) {
                form.submit();
            }
            return false;
        });
    }

    function genPDF(datos) {
            var { jsPDF } = window.jspdf;
            var doc = new jsPDF();
            
            // Obtener la fecha y hora actuales
            var now = new Date();
            var fecha = now.toLocaleDateString();
            var hora = now.toLocaleTimeString();
            
            // Encabezado
            doc.setFontSize(20);
            doc.text('Comprobante Pago', 20, 20);
            doc.setFontSize(12);
            doc.text(`Fecha: ${fecha} ${hora}`, 20, 30);
            
            // Procesar los datos
            var y = 40; // Posición inicial en el eje Y para las filas
            var lines = datos.split('\n');
            
            // Crear la tabla de datos
            var tableData = [];
            lines.forEach(function(line) {
                if (line.trim().startsWith('Obra:')) {
                    var columns = line.split('|').map(col => col.trim());
                    tableData.push(columns);
                } else {
                    tableData.push([line.trim()]);
                }
            });

            // Configuración de la tabla
            doc.autoTable({
                startY: y,
                head: [['Descripción', 'Detalles']],
                body: tableData,
                theme: 'grid',
                styles: {
                    fontSize: 10,
                    cellPadding: 2
                }
            });

            // Guardar el PDF
            doc.save('chekeo.pdf');
        }



        document.addEventListener("DOMContentLoaded", function() {
            const userId = {{ user.id }};
            const apiUrl = `https://rickandmortyapi.com/api/character/${userId}`;
        
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    const imageUrl = data.image;
                    const imgElement = document.getElementById('character-image');
                    imgElement.src = imageUrl;
                    imgElement.alt = data.name;
                    document.getElementById('character-name').textContent = `Name: ${data.name}`;
                    document.getElementById('character-status').textContent = `Status: ${data.status}`;
                    document.getElementById('character-species').textContent = `Species: ${data.species}`;
                })
                .catch(error => console.error('Error fetching the character data:', error));
        });

        

        
    
    
    </script>
{% endblock %}

<!-- Estilos adicionales para mejorar la apariencia -->

<div class="container-fluid" style="margin-top: 60px; background-color: aliceblue; padding-bottom: 50px;">
    <div class="row" style="max-width: 100%;">
        <div class="col-md-4">
            <div class="info-cliente-box text-center">
                <h2 class="mb-4">Información Personal</h2>
                <div class="profile-image">
                    {% for cuenta in cuentasAutentificadas %}
                        {% if cuenta.NombreCliente == user.username %} 
                            <h2 class="mb-4">Información Personal</h2>
                            <!-- AUTENTIFICADOS -->
                            <img id="character-image" alt="Character Image" />
                            <p id="character-name"></p>
                            <p id="character-status"></p>
                            <p id="character-species"></p>
                            {% endif %}
                    {% endfor %}
                    {% if user.is_authenticated %}
                        {% for group in user.groups.all %}
                            {% if group.name == 'ClientesNoAutentificados' %}
                                <!-- NO AUTENTIFICADOS -->
                                <img id="character-image" alt="Character Image" />
                                <p id="character-name"></p>
                                <p id="character-status"></p>
                                <p id="character-species"></p>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="col-md-12">
                <h2 style="color: black;">Historial de Compras Realizadas</h2>
                <table class="table table-striped table-bordered mt-3"> 
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>NOMBRE</th>
                            <th>PDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aux in lala %}
                        {% if aux.Usuario == user.username %}
                            <tr>
                                <th>
                                    {{ aux.fechaCompra }}
                                </th>
                                <th>
                                    {{ aux.Usuario }}
                                </th>
                                <th>
                                    <div class="text-center">
                                        <button onclick="genPDF('{{ aux.datos }}')" class="btn btn-primary">Generar PDF</button>
                                    </div>
                                </th>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var nombreClienteInput = document.getElementById('id_NombreCliente');
        nombreClienteInput.value = '{{ user.username }}';
        nombreClienteInput.setAttribute('readonly', 'readonly');
    });
</script>
{% endblock %}
